[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VertexWiseR"]
	path = VertexWiseR
	url = https://github.com/cogbrainhealthlab/vertexwiser
